{% extends "main.j2" %}

{% block title %}
    <title>{{ link.title }} - Liens - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="{{ link.title }} - Liens - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/liens/{{ link.path }}/">
{% endblock linkCanonical %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ site.keywords | join(', ') | lower }}, liens">
{% endblock meta_keywords %}

{% block content %}
    <h1>{{ link.title }}</h1>
    <p>Lien d'origine : <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
    <p>Publié le {{ link.publish_date.medium }}</p>
    {% if link.update_date and link.update_date != link.publish_date %}
        <p>Mis à jour le {{ link.update_date.medium }}</p>
    {% endif %}

    <hr />

    {{ link.body }}

    {% if link.url.endswith('jpg') or link.url.endswith('png') or link.url.endswith('jpeg') or link.url.endswith('gif') %}
        <figure>
            <img src="{{ link.url }}" width="100%" />
        </figure>
    {% endif %}
{% endblock content %}
