{% extends "main.j2" %}

{% block title %}
    <title>Blog - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="Blog - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/blog/">
{% endblock linkCanonical %}

{% block specific_css %}
    .blog-list { list-style-type: none; padding: 0; margin: 0; }
    .blog-list li { display: flex; align-items: center; flex-direction: row-reverse; justify-content: space-between; border-bottom: 1px solid; }
    .blog-list li:first-child { border-top: 1px solid; }
    .blog-list li a { font-weight: bold; }
    .blog-list span { min-width: 175px; text-align: right; }
    .blog-list-header { border-bottom: 0px; }

    .blog-categories { text-align: center; margin-bottom: 0.5em; margin-top: 2em; }
    .blog-list-categories { font-weight: bold; list-style-type: none; padding: 0; margin: 0 0 2em 0; display: flex; flex-wrap: wrap; gap: 1em; justify-content: center; }

    @media (max-width: 768px) {
        .blog-list li { flex-direction: column; align-items: flex-start; padding: 0.5em 0;}
        .blog-list li a { text-align: left; width: 100%; margin: 0; padding: 0; font-size: 0.9em; font-weight: bold; }
        .blog-list li span { text-align: left; width: 100%; font-size: 0.7em; }
    }
{% endblock specific_css %}

{% block content %}
    <h1>Blog</h1>
    
    <p>Les derniers articles du blog sont accessible également via <a href="/blog/feed.xml">RSS</a>.</p>

    <div class="blog-categories">
        Categories : <a href="/blog/"><b><i>Toutes</i></b></a>
        <ul class="blog-list-categories">
            {% for category in categories %}
                <li><a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a></li> {% if not loop.last %}|{% endif %}
            {% endfor %}
        </ul>
    </div>

    {% if category %}
        <h2 class="blog-list-header">Catégorie: {{ category.name }}</h2>
    {% endif %}

    {# Group posts by year and sort them in descending order #}

    {% for year, posts in all_posts | reverse | groupby("publish_date.year") | reverse %}

        <h2 class="blog-list-header">{{ year }}</h2>

        <ul class="blog-list">
            {% for post in posts | sort(attribute='publish_date.original', reverse=True) %}
                {% if not post.draft %}
                    <li>
                        <span>{{ post.publish_date.long }}</span>
                        <a href="/blog/{{ post.publish_date.short }}-{{ post.slug }}/">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    {% endfor %}
{% endblock content %}
