<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <!-- Favicon -->
        <link href="{{ site.url }}/static/img/cl-logo.svg" rel="icon" />

        <meta name="generator" content="Hyweene Custom Static Website Generator 0.1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">  <meta name="referrer" content="strict-origin-when-cross-origin">

        <meta name="author" content="{{ site.author }}">
        <meta name="webmaster" content="{{ site.name }}">
        <meta name="language" content="{{ site.language }}">

        <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

        <meta name="revisit-after" content="7 days">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="identifier-URL" content="{{ site.url }}">

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - RSS du Blog" href="{{ site.url }}/blog/feed.xml">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - RSS des Liens" href="{{ site.url }}/liens/feed.xml">

        {% block title %}
            <title>{{ site.name }}</title>
        {% endblock title %}

        {% block metaTitle %}
            <meta name="title" content="{{ site.name }}">
        {% endblock metaTitle %}

        {% block linkCanonical %}
            <link rel="canonical" href="{{ site.url }}/">
        {% endblock linkCanonical %}

        {% block metaDescription %}
            <meta name="description" content="{{ site.description }}">
        {% endblock metaDescription %}

        {% block prismCss %}
        {% endblock prismCss %}

        {% block meta_keywords %}
            <meta name="keywords" content="{{ site.keywords | join(', ') | lower }}">
        {% endblock meta_keywords %}

        <style type="text/css">
            body {
                background-color: {{ site.colors.body_background_color }};
                color: {{ site.colors.body_font_color }};
                font-family: 'Monospace', monospace, 'Courier New', Courier, 'Lucida Console', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', monospace;
                font-size: 1rem;
                line-height: 1.8;
                margin: 0 auto;
                padding: 0 2em;
            }

            h1 { line-height: 1.2; }
            h2, h3, h4, h5, h6 { line-height: 1.2; border-bottom: 1px solid; padding-bottom: 0.25em; }
            p { text-align: justify; }
            blockquote { background: {{ site.colors.blockquote_background_color }}; font-size: 1em; padding: 1.5em; }
            blockquote p { margin: 0; }
            ul, ol { list-style-type: circle; }
            a { color: {{ site.colors.body_link_color }}; text-decoration: none; padding: 0.5em 0; font-weight: bold; }
            a:hover { text-decoration: underline; }

            /* ------------------- */
            /* Header / Navigation */
            /* ------------------- */

            header { padding-top: 1em; }
            header h1 { margin: 0; }
            header h1 a { color: {{ site.colors.header_title_font_color }}; text-decoration: none; }

            body nav { display: inline-block; width: 100%; margin-top: 1em; margin-bottom: 1em; border-top: 2px solid; border-bottom: 2px solid; }
            body nav ul { list-style-type: none; padding: 0; margin: 1em 0;}
            body nav ul li { margin-right: 1.5em; margin-bottom: 1em; float: left; }
            body nav ul li:first-child { margin-left: 0; }

            /* ------------ */
            /* Main content */
            /* ------------ */

            main {  text-align: justify; }
            
            main h1 { color: {{ site.colors.heading_h1_font_color }}; }
            main h2 { color: {{ site.colors.heading_h2_font_color }}; }
            main h3 { color: {{ site.colors.heading_h3_font_color }}; }
            main h4 { color: {{ site.colors.heading_h4_font_color }}; }
            main h5 { color: {{ site.colors.heading_h5_font_color }}; }
            main h6 { color: {{ site.colors.heading_h6_font_color }}; }

            main hr { margin-top: 1.5em; margin-bottom: 1.5em; }

            pre { border-color: {{ site.colors.code_border_color }}; border-width: 1px; border-style: solid; }
            code { background: {{ site.colors.code_background_color }}; margin-right: 0.4em; padding: 0.3em 0.5em; font-size: 0.9em; }

            figure { width: 65%; display: block; margin-left: auto; margin-right: auto;}
            figure img { width: 100%; }
            figure figcaption { text-align: center; font-style: italic; }

            table { width: 100%; margin: 1.5em 0; border: 1px solid; }
            table th, table td { padding: 0.5em; border: 1px solid; text-align: left; }

            /* ------ */
            /* Footer */
            /* ------ */

            footer { line-height: 4rem; width: 100%; text-align: center; line-height: 1.8em; padding-top: 1.5em; padding-bottom: 1.5em; }
            footer p { margin: 0.5em 0; text-align: center; font-size: 0.8em; line-height: 1.5em; }
            .footer-text-small { font-size: 0.7em; }
            .footer-licence { margin-top: 2em; }

            {% block specific_css %}
            {% endblock specific_css %}
        </style>
    </head>

    <body>
        <header>
            <h1>
                <a href="{{ site.url }}/">{{ site.name }}</a>
            </h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="{{ site.url }}/blog/">/blog</a>
                </li>
                <li>
                    <a href="{{ site.url }}/liens/">/liens</a>
                </li>
                <li>
                    <a href="{{ site.url }}/now/">/now</a>
                </li>
                <li>
                    <a href="{{ site.url }}/about/">/about</a>
                </li>
                <li>
                    <a href="{{ site.url }}/projets/">/projets</a>
                </li>
                <li>
                    <a href="{{ site.url }}/apprendre/">/apprendre</a>
                </li>
                <li>
                    <a href="{{ site.url }}/cv/">/cv</a>
                </li>
            </ul>
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            <p>
                <i>
                    Tout le contenu de ce site est écrit à la main.<br>
                    Ce site ne contient pas de contenu généré par une IA.
                </i>
            </p>
            <p class="footer-licence">
                © 2020 - {{ yearNow }} - <b>{{ site.author }}</b>
            </p>
            <p class="footer-text-small">
                Ce site est construit de la manière dont l'internet était censé être.<br>
                Cela signifie un site simple, axé sur le contenu, partageant des pensées et des connaissances gratuitement.<br>
                C'est pourquoi ce site n'a pas de traqueurs, pas de publicités et ne nécessite pas l'exécution de Javascript.
            </p>
            <p class="footer-text-small">
                Posts: CC-BY-SA | Source code: AGPL-3.0
            </p>
        </footer>
    </body>

    {% block specific_js %}
    {% endblock specific_js %}
</html>
